@font-face {
  font-family: "Jet Set";
  src: url("https://cbirdsong.github.io/trmnl-random-font/fonts/Jet-Set.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
